
<div class='container mt-4 p-3 rounded shadow'>
<h1>New measure</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit %>
<% end %>
</div>
