// Specific CSS for your home-page
body {
  background-image: url('https://images.unsplash.com/photo-1568644396922-5c3bfae12521?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
  background-size: cover;
  text-align: center;
  color: white;
  h1 {
    padding-top:30px;
    text-shadow: 0px 0px 10px black;

  }
  i {
    color:white;
    text-shadow: 0px 0px 10px black;
  }
}

