.list-ingredients {
  padding:10px;

  text-align: center;
  font-size: 1em;
  ul {
  list-style: none;
  padding-left: 0;
  }
  .delete {
    color: red;
    text-decoration: none;
    text-shadow: none;
  }
}
